.folder-suggestion-container {
	font-size: var(--font-ui-small);
}

.suggestion-item:hover {
	background-color: var(--interactive-hover);
}

.suggestion-item.is-selected {
	background-color: var(--interactive-accent);
	color: var(--text-on-accent);
}
